@model Tennis_Web.Areas.NoRole.Models.PasswordViewModel
@{
    ViewData["Title"] = "Thông tin VĐV";
    Layout = "/Areas/_Layout.cshtml";
}
<form asp-action="UpdatePlayer" enctype="multipart/form-data">
    <div class="card shadow mb-4">
        <div class="card-body">
            <dl class="row">
                <dt class="col-2"></dt>
                <dd class="col-10 text-danger">• Cần lưu tất cả thay đổi trước khi đặt lại mật khẩu!</dd>
                <dt class="col-2"></dt>
                <dd class="col-10"><div asp-validation-summary="All" class="text-danger"></div></dd>
            </dl>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-9">
                    <dl class="row">
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Ho_Ten" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Ho_Ten" class="form-control" />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Ten_Tat" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Ten_Tat" class="form-control" disabled />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Gioi_Tinh" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <div>
                                @Html.DropDownList("Gioi_Tinh", new List<SelectListItem>{
                                   new SelectListItem{ Text="Nam", Value = "false" },
                                   new SelectListItem{ Text="Nữ", Value = "true" }}, new { @class = "form-control" })
                            </div>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Tel" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Tel" class="form-control" />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="CLB" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="CLB" class="form-control" />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Email" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Email" class="form-control" autocomplete="new-email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Password" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#confirmModal">Thay đổi mật khẩu</a>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Cong_Ty" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Cong_Ty" class="form-control" />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Chuc_Vu" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Chuc_Vu" class="form-control" />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Diem_Cu" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Diem_Cu" class="form-control" disabled />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Diem" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Diem" class="form-control" disabled />
                        </dd>
                    </dl>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Hình đại diện</label>
                        <input class="form-control mb-2" type="file" asp-for="Picture" />
                        @if (Model != null && Model.File_Anh != null)
                        {
                            //var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                            //{
                            //    BtnMsg = "Xóa",
                            //    Message = "xóa ảnh",
                            //    ActionName = "DeleteImage",
                            //    //ControllerName = "PlayerArea",
                            //    AreaName = "NoRole",
                            //    Id = Model.Id.ToString()
                            //};
                            <img src="@("~/Files/PlayerImg/" + Model.File_Anh)" class="col-12" style="padding: 0;" asp-append-version="true" />
                            @*<button type="button" class="mt-2 btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa ảnh</button>*@
                        }
                        else
                        { <img style="min-width: 100%;" alt="Chưa có hình đại diện">}
                        <div class="text-danger">• Upload ảnh nhỏ hơn 1MB</div>
                        <div class="text-danger">• Dạng file hợp lệ: .png, .jpg hoặc .jpeg</div>
                    </div>
                </div>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Lưu thay đổi" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>
<form asp-action="ResetPassword">
    <div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="deleteLabel" aria-hidden="true" style="display: none">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteLabel">Thay đổi mật khẩu</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label font-weight-bold"></label>
                        <input asp-for="NewPassword" class="form-control" required />
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmPassword" class="control-label font-weight-bold"></label>
                        <input asp-for="ConfirmPassword" class="form-control" required />
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Hủy</button>
                    <input class="btn btn-danger" formmethod="post" type="submit" value="Thay đổi" />
                </div>
            </div>
        </div>
    </div>
</form>