@model Models.DS_VDV
@{
    ViewData["Title"] = "Thông tin VĐV";
    Layout = "/Areas/_Layout.cshtml";
}
<form asp-action="UpdatePlayer" enctype="multipart/form-data">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="row">
                <div class="col-9">
                    <dl class="row">
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Ho_Ten" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Ho_Ten" class="form-control" />
                            <span asp-validation-for="Ho_Ten" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Ten_Tat" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Ten_Tat" class="form-control" disabled />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Gioi_Tinh" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <div>
                                @Html.DropDownList("Gioi_Tinh", new List<SelectListItem>{
                                   new SelectListItem{ Text="Nam", Value = "false" },
                                   new SelectListItem{ Text="Nữ", Value = "true" }}, new { @class = "form-control" })
                            </div>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Tel" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Tel" class="form-control" />
                            <span asp-validation-for="Tel" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="CLB" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="CLB" class="form-control" />
                            <span asp-validation-for="CLB" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Email" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Email" class="form-control" autocomplete="new-email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Cong_Ty" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Cong_Ty" class="form-control" />
                            <span asp-validation-for="Cong_Ty" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Chuc_Vu" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Chuc_Vu" class="form-control" />
                            <span asp-validation-for="Chuc_Vu" class="text-danger"></span>
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Diem_Cu" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Diem_Cu" class="form-control" disabled />
                        </dd>
                        <dt class="col-sm-3 font-weight-bold text-align-right">
                            <label asp-for="Diem" class="control-label"></label>
                        </dt>
                        <dd class="col-sm-9">
                            <input asp-for="Diem" class="form-control" disabled />
                        </dd>
                    </dl>
                </div>
                <div class="col-3">
                    <div class="form-group">
                        <label class="control-label font-weight-bold">Hình đại diện</label>
                        <input class="form-control mb-2" type="file" asp-for="Picture" />
                        @if (Model != null && Model.File_Anh != null)
                        {
                            //var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
                            //{
                            //    BtnMsg = "Xóa",
                            //    Message = "xóa ảnh",
                            //    ActionName = "DeleteImage",
                            //    //ControllerName = "PlayerArea",
                            //    AreaName = "NoRole",
                            //    Id = Model.Id.ToString()
                            //};
                            <img src="@("~/Files/PlayerImg/" + Model.File_Anh)" class="col-12" style="padding: 0;" asp-append-version="true" />
                            @*<button type="button" class="mt-2 btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Xóa ảnh</button>*@
                        }
                        else
                        { <img style="min-width: 100%;" alt="Chưa có hình đại diện">}
                    </div>
                </div>
            </div>
            <div class="form-group" style="text-align:center">
                <input type="submit" value="Lưu thay đổi" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>
<!-- Modal placeholder -->
<div id="modal-placeholder"></div>