
@model Models.DS_Giai
<form>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2 font-weight-bold">
            Tên
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Ten" class="form-control" required />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            Ngày
        </dt>
        <dd class="col-sm-10">
            <input asp-for="Ngay" class="form-control" required />
            <span asp-validation-for="Ngay" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            <textarea asp-for="GhiChu" class="form-control"></textarea>
        </dd>

    </dl>
    <div class="form-group">
        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
    </div>

</form>
