@model Tennis_Web.Controllers.MethodController.ConfirmViewModal
<div class="modal fade show" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmLabel">Xác nhận</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn
                <span class="text-danger">
                    @Model.Message vĩnh viễn?
                </span>
                Hành động này không thể bị khôi phục.
            </div>
            <form asp-action="ConfirmModal">
                <input type="hidden" asp-for="BtnMsg" />
                <input type="hidden" asp-for="Message" />
                <input type="hidden" asp-for="ActionName" />
                <input type="hidden" asp-for="ControllerName" />
                <input type="hidden" asp-for="Id" />
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Hủy</button>
                    <input class="btn btn-danger" type="submit" value="@Model.BtnMsg" formmethod="post"/>
                </div>
            </form>
        </div>
    </div>
</div>    