@{
    ViewBag.MActive = "active";
    ViewData["Title"] = "Chọn trình đấu để nhập/xem kết quả";
}
@model IEnumerable<Models.DS_Trinh>
<hr />
@foreach (var item in Model)
{
    string title = "Giải " + item.DS_Giai.Ten + " - Trình " + item.Trinh;
    <div class="row ml-2">
        <a asp-route-tabname="Table" asp-route-isCurrent="@item.DS_Giai.Giai_Moi" asp-route-id="@item.Id" asp-route-detailedTitle="@title" asp-action="SwitchToTabs" asp-controller="Method">
            • @title
        </a>
    </div>
}
