@{
    // Match Index View
    if (ViewBag.isCurrent == true)
    {
        ViewBag.CMActive = "active";
    }
    else ViewBag.BMActive = "active";
    bool a1 = Model.Count() > 0;

    @if (a1)
    {
        ViewData["Title"] = "Chọn trình đấu để nhập/xem kết quả";
    }
    else ViewData["Title"] = "Chọn giải cũ để xem kết quả";
}
@model IEnumerable<Models.DS_Trinh>
<hr />
<div class="form-group">
    @if (a1)
    {
        foreach (var item in Model)
        {
            string title = "Giải " + item.DS_Giai.Ten + " - Trình " + item.Trinh;
            <div class="row ml-2 mb-1">
                <a asp-route-tabname="Table" asp-route-isCurrent="@item.DS_Giai.Giai_Moi" asp-route-id="@item.Id" asp-route-detailedTitle="@title" asp-action="SwitchToTabs" asp-controller="Method">
                    • @title
                </a>
            </div>
        }
    }
    else
    {
        <h5 class="font-weight-bold text-danger">Không có giải đấu nào đang diễn ra!</h5>
        <a class="align-center" style="color:black" asp-action="Index" asp-route-isCurrent="false" asp-controller="Match">
            Đến danh sách kết quả các giải đấu cũ 🡺
        </a>
    }
</div>
<div class="tournament-container">
    <div class="tournament-headers" id="tournamentHeader">
        <h3 style="width: calc(10rem + 36px);">Mẫu</h3>
        <h3>Vòng 1</h3>
        <h3>Vòng 2</h3>
        <h3>Vòng 3</h3>
        <h3>Tứ Kết</h3>
        <h3>Bán Kết</h3>
        <h3>Chung Kết</h3>
    </div>
    <div style="display: flex;">
        <div>
            <ul class="bracket bracket-1 template">
                <li class="team-item row">
                    <div class="child">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">

                    </div>
                    <div class="child top-border">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">
                    </div>
                </li>
                <li class="team-item row">
                    <div class="child">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">

                    </div>
                    <div class="child top-border">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">
                    </div>
                </li>
                <li class="team-item row">
                    <div class="child">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">

                    </div>
                    <div class="child top-border">
                        <input class="form-control form-control-sm" style="width: 5.5rem;">
                    </div>
                </li>
            </ul>
        </div>
        <div class="tournament-brackets">
            <ul class="bracket bracket-1" style="flex-grow: 2;">
                @for (int i = 65; i < (65 + 32); i++)
                {
                    var name = (char)i;
                    <li class="team-item row">
                        <div class="child win">
                            <div class="col">
                                <select class="form-control form-control-sm" style="width: 85%;">
                                    <option>Binh Duong + Tuan TH</option>
                                </select>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="child top-border win">
                            <div class="col">
                                <div>@name 3</div>
                                <div>@name 4</div>
                            </div>
                            <div class="result">
                                <i class="fas fa-check"></i>
                                6
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="bracket bracket-2">
                @for (int i = 65; i < (65 + 16); i++)
                {
                    var name = (char)i;
                    <li class="team-item row">
                        <div class="child">
                            <div class="col">
                                <div>@name 1</div>
                                <div>@name 2</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="child top-border">
                            <div class="col">
                                <div>@name 3</div>
                                <div>@name 4</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="bracket bracket-3">
                @for (int i = 65; i < (65 + 8); i++)
                {
                    var name = (char)i;
                    <li class="team-item row">
                        <div class="child">
                            <div class="col">
                                <div>@name 1</div>
                                <div>@name 2</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="child top-border">
                            <div class="col">
                                <div>@name 3</div>
                                <div>@name 4</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="bracket bracket-4">
                @for (int i = 0; i < 4; i++)
                {
                    <li class="team-item row">
                        <div class="child">
                            <div class="col">
                                <div>QF_@i</div>
                                <div>QF_@i</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="child top-border">
                            <div class="col">
                                <div>QF_@i</div>
                                <div>QF_@i</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="bracket bracket-5">
                @for (int i = 0; i < 2; i++)
                {
                    <li class="team-item row">
                        <div class="child">
                            <div class="col">
                                <div>SF_@i</div>
                                <div>SF_@i</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                        <div class="child top-border">
                            <div class="col">
                                <div>SF_@i</div>
                                <div>SF_@i</div>
                            </div>
                            <div class="result">
                                <input class="form-control form-control-sm">
                            </div>
                        </div>
                    </li>
                }
            </ul>
            <ul class="bracket bracket-6">
                <li class="team-item row">
                    <div class="child">
                        <div class="col">
                            <div>F_1</div>
                            <div>F_2</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="col">
                            <div>F_3</div>
                            <div>F_4</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm">
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    </div>

    @section Scripts {
        <script type="text/javascript">
            $(function () {
                // When the user scrolls the page, execute myFunction
                window.onscroll = function () { myFunction() };

                // Get the header
                var header = document.getElementById("tournamentHeader");

                // Get the offset position of the navbar
                var sticky = header.offsetTop;

                // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
                function myFunction() {
                    if (window.pageYOffset > sticky) {
                        header.classList.add("sticky");
                    } else {
                        header.classList.remove("sticky");
                    }
                }
            });
        </script>
    }
