@{
    // Match Index View
    if (ViewBag.isCurrent == true)
    {
        ViewBag.CMActive = "active";
    }
    else ViewBag.BMActive = "active";
    bool a1 = Model.Count() > 0;

    @if (a1)
    {
        ViewData["Title"] = "Chọn trình đấu để nhập/xem kết quả";
    }
    else ViewData["Title"] = "Chọn giải cũ để xem kết quả";
}
@model IEnumerable<Models.DS_Trinh>
<hr />
<div class="form-group">
    @if (a1)
    {
        foreach (var item in Model)
        {
            string title = "Giải " + item.DS_Giai.Ten + " - Trình " + item.Trinh;
            <div class="row ml-2 mb-1">
                <a asp-route-tabname="Table" asp-route-isCurrent="@item.DS_Giai.Giai_Moi" asp-route-id="@item.Id" asp-route-detailedTitle="@title" asp-action="SwitchToTabs" asp-controller="Method">
                    • @title
                </a>
            </div>
        }
    }
    else
    {
        <h5 class="font-weight-bold text-danger">Không có giải đấu nào đang diễn ra!</h5>
        <a class="align-center" style="color:black" asp-action="Index" asp-route-isCurrent="false" asp-controller="Match">
            Đến danh sách kết quả các giải đấu cũ 🡺
        </a>
    }
</div>
@*@section Scripts {
    <script type="text/javascript">
        $(function () {
            // When the user scrolls the page, execute myFunction
            window.onscroll = function () { myFunction() };

            // Get the header
            var header = document.getElementById("tournamentHeader");

            // Get the offset position of the navbar
            var sticky = header.offsetTop;

            // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
            function myFunction() {
                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }
        });
    </script>
}*@

