@{
    // Match Index View
    if (ViewBag.isCurrent == true)
    {
        ViewBag.CMActive = "active";
    }
    else ViewBag.BMActive = "active";
    bool a1 = Model.Any();

    @if (a1)
    {
        ViewData["Title"] = "Chọn giải đấu để nhập/xem kết quả";
    }
    else ViewData["Title"] = "Chọn giải cũ để xem kết quả";
}
@model IEnumerable<Models.DS_Giai>
<hr />
<div class="form-group">
    @if (a1)
    {
        foreach (var item in Model)
        {
            <div class="row ml-2 mb-1">
                <a asp-route-id="@item.Id" asp-action="IndexLevel">
                    • Giải @item.Ten
                </a>
            </div>
        }
    }
    else
    {
        <h5 class="text-danger">Không có giải đấu nào đang diễn ra!</h5>
        <a class="align-center" style="color:black" asp-action="Index" asp-route-isCurrent="false" asp-controller="Match">
            Đến danh sách kết quả các giải đấu cũ 🡺
        </a>
    }
</div>
