@{
    ViewBag.MActive = "active";
    ViewData["Title"] = "Chọn trình đấu để nhập kết quả";
}
@model IEnumerable<Models.DS_Trinh>
<hr />
@foreach (var item in Model)
{
    <div class="row ml-2">
        <a asp-action="Index" asp-route-id="@item.Id">
            • Giải @item.DS_Giai.Ten - Trình @item.Trinh
        </a>
    </div>
}
