@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model IEnumerable<Models.DS_VDV>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="dataTable_length">
            <div class="form-group">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary" formmethod="post"/>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div id="dataTable_filter" class="dataTables_filter">
            <label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label>
        </div>
    </div>
</div>
<table class="table table-bordered dataTable">
    <thead>
        <tr class="row">
            <th class="sorting" aria-controls="dataTable" aria-label="Position: activate to sort column ascending">
                Tên tắt
            </th>
            @if (a1)
            {
                <th></th>
            }
            <th>
                CLB
            </th>
            <th>
                Điểm cũ
            </th>
            <th>
                Điểm
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Ten_Tat</td>
                @if (a1)
                {
                    <td></td>
                }
                <td>@item.CLB</td>
                <td>@item.DiemCu</td>
                <td>@item.Diem</td>
            </tr>
        }
    </tbody>
</table>    