@model Models.DS_VDV
@{
    ViewData["Title"] = "Thông tin VĐV";
}
<hr />
<form asp-action="Update" enctype="multipart/form-data">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <dl class="row">
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Ho" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Ho" class="form-control" />
            <span asp-validation-for="Ho" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Ten" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Ten" class="form-control" />
            <span asp-validation-for="Ten" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Ten_Tat" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Ten_Tat" class="form-control" required />
            <span asp-validation-for="Ten_Tat" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Gioi_Tinh" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <div>
                @Html.DropDownList("Gioi_Tinh", new List<SelectListItem>{
                   new SelectListItem{ Text="Nam", Value = "false" },
                   new SelectListItem{ Text="Nữ", Value = "true" }}, new { @class = "form-control" })
            </div>
        </dd>

        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Tel" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Tel" class="form-control" />
            <span asp-validation-for="Tel" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="CLB" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="CLB" class="form-control" />
            <span asp-validation-for="CLB" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Email" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Khach_Moi" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Khach_Moi" class="ml-0 form-check-input" />
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Cong_Ty" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Cong_Ty" class="form-control" />
            <span asp-validation-for="Cong_Ty" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Chuc_Vu" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Chuc_Vu" class="form-control" />
            <span asp-validation-for="Chuc_Vu" class="text-danger"></span>
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Diem_Cu" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Diem_Cu" class="form-control" disabled />
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Diem" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Diem" class="form-control" disabled />
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="Status" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input asp-for="Status" class="ml-0 form-check-input" />
        </dd>
        <dt class="col-sm-3 font-weight-bold">
            <label asp-for="File_Anh" class="control-label"></label>
        </dt>
        <dd class="col-sm-9">
            <input class="form-control" type="file" asp-for="Picture" multiple />
        </dd>
        @if (Model.File_Anh != null)
        {
            <dt class="col-sm-3 font-weight-bold">
                <label class="control-label">Hình ảnh</label>
            </dt>
            <dd class="col-sm-9">
                <img src="@("~/PlayerImg/" + Model.File_Anh)" asp-append-version="true" width="200"/>
            </dd>
            <dt class="col-sm-3 font-weight-bold"></dt>
            <dd class="col-sm-9">
                <a class="btn btn-danger" asp-action="DeleteImage" asp-route-id="@Model.Id">Xóa ảnh</a>
            </dd>
        }
    </dl>
    <div class="form-group">
        <input type="submit" value="Lưu thay đổi" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index">Quay lại trang trước</a>
    </div>
</form>