@*
    Match Special View Component
*@
<div class="tournament-container">
    <div class="tournament-headers" id="tournamentHeader">
        <h3>Vòng 1</h3>
        <h3>Vòng 2</h3>
        <h3>Vòng 3</h3>
        <h3>Tứ Kết</h3>
        <h3>Bán Kết</h3>
        <h3>Chung Kết</h3>
    </div>
    <div class="tournament-brackets">
        <ul class="bracket bracket-1">
            @for (int i = 65; i < (65 + 32); i++)
            {
                var name = (char)i;
                <li class="team-item row">
                    <div class="child">
                        <div class="row">
                            <div class="col-12">@name 1</div>
                            <div class="col-12">@name 2</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="row">
                            <div class="col-12">@name 3</div>
                            <div class="col-12">@name 4</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul class="bracket bracket-2">
            @for (int i = 65; i < (65 + 16); i++)
            {
                var name = (char)i;
                <li class="team-item row">
                    <div class="child">
                        <div class="row">
                            <div class="col-12">@name 1</div>
                            <div class="col-12">@name 2</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="row">
                            <div class="col-12">@name 3</div>
                            <div class="col-12">@name 4</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul class="bracket bracket-3">
            @for (int i = 65; i < (65 + 8); i++)
            {
                var name = (char)i;
                <li class="team-item row">
                    <div class="child">
                        <div class="row">
                            <div class="col-12">@name 1</div>
                            <div class="col-12">@name 2</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="row">
                            <div class="col-12">@name 3</div>
                            <div class="col-12">@name 4</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul class="bracket bracket-4">
            @for (int i = 0; i < 4; i++)
            {
                <li class="team-item row">
                    <div class="child">
                        <div class="row">
                            <div class="col-12">QF_@i</div>
                            <div class="col-12">QF_@i</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="row">
                            <div class="col-12">QF_@i</div>
                            <div class="col-12">QF_@i</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul class="bracket bracket-5">
            @for (int i = 0; i < 2; i++)
            {
                <li class="team-item row">
                    <div class="child">
                        <div class="row">
                            <div class="col-12">SF_@i</div>
                            <div class="col-12">SF_@i</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                    <div class="child top-border">
                        <div class="row">
                            <div class="col-12">SF_@i</div>
                            <div class="col-12">SF_@i</div>
                        </div>
                        <div class="result">
                            <input class="form-control form-control-sm" style="width:1.75rem">
                        </div>
                    </div>
                </li>
            }
        </ul>
        <ul class="bracket bracket-6">
            <li class="team-item row">
                <div class="child">
                    <div class="row">
                        <div class="col-12">F_1</div>
                        <div class="col-12">F_2</div>
                    </div>
                    <div class="result">
                        <input class="form-control form-control-sm" style="width:1.75rem">
                    </div>
                </div>
                <div class="child top-border">
                    <div class="row">
                        <div class="col-12">F_3</div>
                        <div class="col-12">F_4</div>
                    </div>
                    <div class="result">
                        <input class="form-control form-control-sm" style="width:1.75rem">
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>