.small-icon{
    font-size:0.8rem;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bg-gradient-success {
    background-color: #1cb079;
    background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
    background-size: cover;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
a, .link {
    color: #1cb079;
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

    a:hover, .link:hover {
        color: #13855c;
        text-decoration: underline;
    }

.btn-link {
    font-weight: 400;
    text-decoration: none;
}

    .btn-link:hover {
        text-decoration: underline;
    }
h5 {
    text-align: center;
    font-weight: bold;
    margin: 0;
    color: #1cb079;
}
.text-align-right{
    text-align:right;
}
.align-center {
    display: flex;
    justify-content: center;
}
.table {
    margin: 0;
}
.table th {
    vertical-align: middle !important;
    text-align: center;
}

.table td {
    padding: 0.25rem;
    vertical-align: middle !important;
    text-align: center;
    border-top: 1px solid #e3e6f0;
}
.modal-title {
    color: #5a5c69 !important;
}
.page-link {
    line-height: 1.25;
    color: #1cb079;
    border: 1px solid #dddfeb;
}

    .page-link:hover {
        color: #13855c;
        background-color: #eaf4f1; /*lightgreen*/
        border-color: #dddfeb;
    }

    .page-link:focus {
        box-shadow: 0 0 0 0.2rem rgba(28,200,138, 0.25);
    }
.page-item.active .page-link {
    background-color: #1cb079;
    border-color: #1cb079;
}

.page-item.disabled .page-link {
    color: #859696;
    border-color: #dddfeb;
}
.login-image {
    background-image: url('../images/DefaultImg/LG.jpg');
    background-position: center;
    background-size: cover;
}

.register-image {
    background-image: url('../images/DefaultImg/RG.jpg');
    background-position: center;
    background-size: cover;
}

.form-control {
    line-height: 1;
}

    .form-control::-webkit-input-placeholder, .form-control::-moz-placeholder, .form-control:-ms-input-placeholder,
    .form-control::-ms-input-placeholder, .form-control::placeholder {
        color: #859696;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #eaf4f1;
    }

/*Spinner loader*/
.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

    .lds-ellipsis div {
        position: absolute;
        top: 33px;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #eaf4f1;
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
    }

        .lds-ellipsis div:nth-child(1) {
            left: 8px;
            animation: lds-ellipsis1 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(2) {
            left: 8px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(3) {
            left: 32px;
            animation: lds-ellipsis2 0.6s infinite;
        }

        .lds-ellipsis div:nth-child(4) {
            left: 56px;
            animation: lds-ellipsis3 0.6s infinite;
        }

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
/*End of Spinner loader*/
.progress {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    opacity:0.5;
}