/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    text-align:center;
}

a, .link {
    border: 0;
    text-decoration: none;
    background-color: transparent;
}

    a:hover {
        text-decoration: underline;
    }

.btn-link {
    font-weight: 400;
    text-decoration: none;
}

    .btn-link:hover {
        text-decoration: underline;
    }
h5 {
    text-align: center;
    margin: 0;
}
.card-body {
    overflow-x: auto;
}
/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    text-align: center;
}
.align-center {
    display: flex;
    justify-content: center;
}
.table {
    margin: 0;
}
.table th {
    vertical-align: middle !important;
    text-align: center;
}

.table td {
    padding: 0.25rem;
    vertical-align: middle !important;
    text-align: center;
    border-top: 1px solid #e3e6f0;
}
.modal-title {
    color: #5a5c69 !important;
}