/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */

.btn-link {
    color: #1cb079;
}
    .btn-link:hover {
        color: #13855c;
    }

body {
    line-height: 1;
}

.modal-content{
    line-height: 1.5
}
.card-body {
    overflow-x: auto;
}