/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */

.btn-link {
    color: #1cb079;
}
    .btn-link:hover {
        color: #13855c;
    }

body {
    line-height: 1;
}

.modal-content{
    line-height: 1.5
}
.card-body {
    overflow-x: auto;
}
.fixed-bar {
    position: fixed;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    right: 0%;
    bottom: 0%;
    z-index: 1030;
    background-color: #fff;
    box-shadow: 0 .15rem 1.75rem 0 rgba(58,59,69,.15);
    margin-bottom: 1.5rem;
    height: 4.375rem;
}
