/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


/* Provide sufficient contrast against white background */
a {
    color: #1cb079;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
        color: #13855c;
        text-decoration: underline;
}
.btn-link {
    font-weight: 400;
    color: #1cb079;
    text-decoration: none;
}
    .btn-link:hover {
        color: #13855c;
        text-decoration: underline;
    }
.login-image {
    background-image: url('../images/DefaultImg/LG.jpg');
    background-position: center;
    background-size: cover;
}
.register-image {
    background-image: url('../images/DefaultImg/RG.jpg');
    background-position: center;
    background-size: cover;
}
.form-control::-webkit-input-placeholder {
    color: #859696;
    opacity: 1;
}

.form-control::-moz-placeholder {
    color: #859696;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #859696;
    opacity: 1;
}

.form-control::-ms-input-placeholder {
    color: #859696;
    opacity: 1;
}

.form-control::placeholder {
    color: #859696;
    opacity: 1;
}
.form-control:disabled, .form-control[readonly] {
    background-color: #eaf4f1;
    opacity: 1;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #1cb079;
    background-color: #fff;
    border: 1px solid #dddfeb;
}
    .page-link:hover {
        z-index: 2;
        color: #13855c;
        text-decoration: none;
        background-color: #eaf4f1;
        border-color: #dddfeb;
    }

    .page-link:focus {
        z-index: 3;
        outline: 0;
        box-shadow: 0 0 0 0.2rem rgba(28,200,138, 0.25);
    }    


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #1cb079;
    border-color: #1cb079;
}

.page-item.disabled .page-link {
    color: #859696;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dddfeb;
}

.bg-gradient-success {
    background-color: #1cb079;
    background-image: linear-gradient(180deg, #1cc88a 10%, #13855c 100%);
    background-size: cover;
}