@{
    Layout = "/Areas/_Layout.cshtml";
    ViewData["Title"] = "Thông báo";
    if (ViewBag.IsCurrent) { ViewData["Tagline"] = ViewBag.Tournament; }
}
@model List<Models.Thong_Bao>
@if (Model.Any())
{
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="form-group">
                @foreach (var item in Model)
                {
                    <div class="row ml-2 mb-1">
                        <a asp-action="AnnouncementDetail" asp-route-id="@item.Id">
                            • @item.Ten - @item.Ngay.Day/@item.Ngay.Month/@item.Ngay.Year
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>     
}
