@model Tennis_Web.Areas.NoRole.Models.PasswordViewModel
<form asp-action="CheckPassword">
    <div class="modal fade" id="chkPw" tabindex="-1" role="dialog" aria-labelledby="label" aria-hidden="true" style="display: none">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="label">Nhập mật khẩu</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="Action" />
                    <input type="hidden" asp-for="Controller" />
                    <input type="hidden" asp-for="CurrentAction" />
                    <input type="hidden" asp-for="CurrentController" />
                    <div class="form-group">
                        <label class="font-weight-bold">Tên tắt</label>
                        <input type="text" asp-for="Ten_Tat" list="list" class="form-control" disabled />
                    </div>
                    <div class="form-group">
                        <label class="font-weight-bold">Mật khẩu</label>
                        <input type="password" asp-for="Password" autocomplete="new-password" class="form-control" required />
                    </div>
                    @if (ViewBag.Password == "bitkhanhhoa@newuser")
                    {
                        <div class="text-danger">• Thay đổi mật khẩu mặc định!</div>
                        <div class="form-group">
                            <label class="font-weight-bold">Mật khẩu mới</label>
                            <input type="password" asp-for="NewPassword" class="form-control" required />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="font-weight-bold">Xác nhận mật khẩu</label>
                            <input type="password" asp-for="ConfirmPassword" class="form-control" required />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>
                    }
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Hủy</button>
                    <button class="btn btn-warning" type="submit">Kiểm tra</button>
                </div>
            </div>
        </div>
    </div>
</form>