@{
    ViewData["Title"] = "Tin nóng";
    Layout = "/Areas/_Layout.cshtml";
}
@model List<Models.Thong_Bao>
@if (Model.Any())
{
    @foreach (var item in Model)
    {
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h5>Ngày: @item.Ngay.Day/@item.Ngay.Month/@item.Ngay.Year</h5>
            </div>
            <div class="card-body">
                @if (item.File_Path != null)
                {
                    @if (System.IO.Path.GetExtension(item.File_Path) == ".pdf")
                    {
                        <embed type="application/pdf" src="@("/Files/Announcement/" + item.File_Path)" style="width:100%" />
                    }
                    else
                    {
                        <img src="@("~/Files/Announcement/" + item.File_Path)" asp-append-version="true" width="600" />
                    }
                }

                @if (item.File_Text != null)
                {
                    <p>@Html.Raw(item.File_Text)</p>
                }
            </div>
        </div>
    }
}