@{
    ViewData["Title"] = "Trang chủ";
    Layout = "/Areas/_Layout.cshtml";
    ViewBag.IActive = "active visible-sm visible-xs";
}
<div class="swiper-container swiper-container-horizontal" id="top" style="cursor: grab;">
    <div class="swiper-wrapper" style="transition-duration: 0ms; transform: translate3d(-1536px, 0px, 0px);">
        <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev" data-swiper-slide-index="2" style="width: 1536px; transition: all 0ms ease 0s;">
            <div class="slide-inner" style="background-image: url('~/wwwroot/images/img-dark.jpg'); transform: translate3d(768px, 0px, 0px); transition: all 0ms ease 0s;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="header-text">
                                <h2>Best One in Town<br>&amp; Crypto <em>Services</em></h2>
                                <div class="div-dec"></div>
                                <p>When you browse through different tags on TemplateMo website, you can see a variety of CSS templates which are responsive website designs for different individual needs. Please tell your friends about our website. Thank you.</p>
                                <div class="buttons">
                                    <div class="green-button">
                                        <a href="#">Discover More</a>
                                    </div>
                                    <div class="orange-button">
                                        <a href="#">Contact Us</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*<div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>*@
</div>