@{
    bool a1 = ViewBag.IsCurrent == true;
}
@model Models.DS_Giai
<form asp-action="UpdateInfo" asp-controller="Tournament">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input asp-for="Id" type="hidden" />
    <dl class="row">
        <dt class="col-sm-2 font-weight-bold">
            Tên
        </dt>
        <dd class="col-sm-10">
            @if (a1)
            {
                <input asp-for="Ten" class="form-control" required />
                <span asp-validation-for="Ten" class="text-danger"></span>
            }
            else
            {<input asp-for="Ten" class="form-control" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            Ngày
        </dt>
        <dd class="col-sm-10">
            @if (a1)
            {
                <input asp-for="Ngay" class="form-control" required />
                <span asp-validation-for="Ngay" class="text-danger"></span>
            }
            else
            {<input asp-for="Ngay" class="form-control" disabled />}
        </dd>
        <dt class="col-sm-2 font-weight-bold">
            Ghi chú
        </dt>
        <dd class="col-sm-10">
            @if (a1)
            {
                <textarea asp-for="GhiChu" class="form-control"></textarea>
            }
            else
            { <textarea asp-for="GhiChu" class="form-control" disabled></textarea>}
        </dd>
    </dl>
    @if (a1)
    {
        var arg = new Tennis_Web.Controllers.MethodController.ConfirmViewModal()
        {
            BtnMsg = "Kết thúc",
            Message = "kết thúc giải đấu",
            ActionName = "EndTournament",
            ControllerName = "Tournament",
            RouteValues = new { id = Model.Id }
        };
        <div class="form-group">
            <input type="submit" value="Lưu thay đổi" class="btn btn-primary mr-2" formmethod="post" />
            <button type="button" class="btn btn-danger" data-toggle="ajax-modal" data-target="#confirmModal" data-url="@Url.Action("ConfirmModal", "Method", arg)">Kết thúc giải đấu</button>
        </div>
    }
</form>

<!-- Modal placeholder -->
<div id="modal-placeholder"></div>