@{ 
    Layout = "";
}
<div style="text-align:center">
    <img src="~/images/DefaultImg/access_denied.svg" style="width:35%"/>
    <span style="font-size:large">Không có quyền truy cập</span>
</div>
