@{
    bool a1 = Model.Count() > 0;
    if (ViewBag.isCurrent == true)
    {
        ViewBag.CActive = "active";
    }
    else ViewBag.BActive = "active";
    @if (a1)
    {
        ViewData["Title"] = "Chọn giải đấu để xem thông tin";
    }
    else ViewData["Title"] = "Thêm giải đấu mới";
}
@model IEnumerable<Models.DS_Giai>
<hr />
@if (a1)
{
    foreach (var item in Model)
    {
        <div class="row ml-2">
            <a asp-action="TournamentInfo" asp-route-isCurrent="@ViewBag.isCurrent" asp-route-giaiID="@item.Id">
                • Giải @item.Ten
            </a>
        </div>
    }
}
else
{
    <a class="btn btn-primary" asp-action="TournamentInfo" asp-route-isCurrent="@ViewBag.isCurrent" asp-route-detailedTitle="giải mới">Thêm mới</a>
}